[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
autopep8 = "*"

[packages]
django = "*"
django-admin-sortable2 = "*"
django-colorfield = "*"
django-environ = "*"
django-richtextfield = "*"
gunicorn = "*"
django-admin-interface = "*"
mysqlclient = "*"
pillow = "*"

[requires]
python_version = "3.8"
