<section class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="row">
            <div class="col-sm-12 col-lg-6 m-auto pt-50 footer-logo text-center">
              <a class="mt-30" href="index.html">
                {% if contact.is_background_dark %}
                  {% if websiteconfig.logo_light %}
                  <img src="{{ websiteconfig.logo_light.url }}" alt="Logo" />
                  {% endif %}
                {% else %}
                  {% if websiteconfig.logo_dark %}
                  <img src="{{ websiteconfig.logo_dark.url }}" alt="Logo" />
                  {% endif %}
                {% endif %}
              </a>
            </div>
          </div>
          <!-- footer logo -->
          <div class="row">
            <div class="col contact-info pt-35 pb-35">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="single-contact-info contact-color-1 mt-30 d-flex">
                    <div class="contact-info-icon">
                      <i class="lni lni-map-marker"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      {{ contact.address|default_if_none:""|safe }}
                    </div>
                  </div>
                </div>
                <!-- single contact info -->
                <div class="col-lg-4 col-md-6">
                  <div class="single-contact-info contact-color-3 mt-30 d-flex">
                    <div class="contact-info-icon">
                      <i class="lni lni-phone"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      {% for number in contact.numbers.all %}
                      <p>{{ number }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <!-- single contact info -->
                <div class="col-lg-4 col-md-6">
                  <div class="single-contact-info contact-color-2 mt-30 d-flex">
                    <div class="contact-info-icon">
                      <i class="lni lni-envelope"></i>
                    </div>
                    <div class="contact-info-content media-body">
                      {% for email in contact.emails.all %}
                      <p>{{ email }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- single contact info -->
            </div>
          </div>
          <ul class="social text-center mt-25">
            {% if social.facebook %}
            <li>
              <a target="_blank" href="{{ social.facebook }}">
                <i class="lni lni-facebook-filled"></i>
              </a>
            </li>
            {% endif %} {% if social.twitter %}
            <li>
              <a target="_blank" href="{{ social.twitter }}">
                <i class="lni lni-twitter-original"></i>
              </a>
            </li>
            {% endif %} {% if social.instagram %}
            <li>
              <a target="_blank" href="{{ social.instagram }}">
                <i class="lni lni-instagram-original"></i>
              </a>
            </li>
            {% endif %} {% if social.linkedin %}
            <li>
              <a target="_blank" href="{{ social.linkedin }}">
                <i class="lni lni-linkedin-original"></i>
              </a>
            </li>
            {% endif %}
          </ul>
          <!-- social -->
          <div class="copyright text-center mt-10">
            {{ websiteconfig.copyright_info|default_if_none:''|safe }}
          </div>
          <!--  copyright -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
