{% load static %}
<section id="portfolio" class="portfolio-area portfolio-four pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-title text-center pb-10">
          <div class="line m-auto"></div>
          <h3 class="title">Featured Works</h3>
          {{ websiteconfig.gallery_description|default_if_none:""|safe }}
        </div>
        <!-- section title -->
      </div>
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="portfolio-menu text-center mt-50">
          <ul>
            {% for portfolio in portfolios %}
            {% with y=forloop.counter|stringformat:"s" %}
            {% if forloop.first %}
            {% if websiteconfig.show_all_portfolios %}
            <li data-filter="*" class="active">ALL WORK</li>
            <li data-filter=".{{ 'loop'|add:y }}-4">
              {{ portfolio.title|upper }}
            </li>
            {% else %}
            <li data-filter=".{{ 'loop'|add:y }}-4" class="active">
              {{ portfolio.title|upper }}
            </li>
            {% endif %}
            {% else %}
            <li data-filter=".{{ 'loop'|add:y }}-4">
              {{ portfolio.title|upper }}
            </li>
            {% endif %}
            {% endwith %}
            {% endfor %}
          </ul>
        </div>
        <!-- portfolio menu -->
      </div>
      <div class="col-lg-9 col-md-9">
        <div class="row no-gutters grid mt-50">
          {% for portfolio in portfolios %}
          {% with y=forloop.counter|stringformat:"s" %}
          {% for portfolio_image in portfolio.images.all %}
          <div class="col-lg-4 col-sm-6 {{ 'loop'|add:y }}-4 pt-10">
            <div class="single-portfolio">
              <div class="portfolio-image">
                <img class="lazyload"
                  height={{ portfolio_image.height }}
                  width={{ portfolio_image.width }}
                  data-src="{{ portfolio_image.image.url }}"
                  alt=""
                />
                <div
                  class="portfolio-overlay d-flex align-items-center justify-content-center"
                >
                  <div class="portfolio-content">
                    <div class="portfolio-icon">
                      <a
                        class="image-popup"
                        href="{{ portfolio_image.image.url }}"
                        ><i class="lni lni-zoom-in"></i
                      ></a>
                      <img
                        data-src="{% static 'assets/images/portfolio/shape.svg' %}"
                        alt="shape"
                        class="lazyload shape"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- single portfolio -->
          </div>
          {% endfor %}
          {% endwith %}
          {% endfor %}
        </div>
        <!-- row -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
